
.container {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.title {
  font-family: serif;
  font-size: 35px;
  font-weight: 2000;
  letter-spacing: 3px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}
.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.skillImageContainer {
  background-color: #197bdda8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  transition: 0.4s ease-in-out;
}
.skillImageContainer img {
  width: 55px;
  height: 50px;
}
.skillImageContainer:hover{
    scale: 1.1;
    
}
.skill p {
  font-size: 20px;
  font-family: var(--font-roboto);
  font-weight: 500;
  margin-top: 10px;
  font-family: serif;
}
.skillImageContainer {
  background-color: #343a40a8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  transition: 0.4s ease-in-out;
}
.skillImageContainer img {
  width: 55px;
  height: 50px;
}
.skillImageContainer img[src$="skills/ex.png"] {
  width: 50px;
  height: 30px;
  margin-top: 5px;
}
.skillImageContainer img[src$="skills/mongodb.png"] {
  width: 30px;
}
.skillImageContainer img[src$="skills/tailwind.png"] {
  height: 35px;
}
.skillImageContainer img[src$="skills/nodejs.png"] {
  width: 45px;
}
.skillImageContainer img[src$="skills/sql.png"] {
  width: 40px;
}
@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}