:root {
    /* --color-text: #FBFADA; */
    --color-primary: #000000;
    --color-secondary: #314d3b;
    
    --color-dark: #040f1e;
    /* --color-bg: #436850; */
    --color-bg: #31363F;
    --color-text: white;
    }